/* src/App.css */

body {
   overflow: auto;
   background-color: #f0feff;
   font-family: Arial, sans-serif;
   text-align: center;
   padding: 20px;
   -ms-overflow-style: none;
   scrollbar-width: none;
}

.body::-webkit-scrollbar { 
   display: none;
}

form {
   display: flex;
   flex-direction: column;
   gap: 10px;
   max-width: 400px;
   margin: 0 auto;
}

input, select, button {
   padding: 8px;
   font-size: 1em;
}

.application {
   border: 1px solid #ccc;
   padding: 10px;
   margin-bottom: 10px;
   border-radius: 5px;
}